/* Bourbon and Neat import */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'arial_blackregular';
  src: url("../fonts/arial_black-webfont.eot");
  src: url("../fonts/arial_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial_black-webfont.woff2") format("woff2"), url("../fonts/arial_black-webfont.woff") format("woff"), url("../fonts/arial_black-webfont.svg#arial_blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }
h1 {
  position: relative;
  width: auto;
  font-family: 'arial_blackregular', Arial, Verdana;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 10px; }

h1:after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  width: 225px;
  height: 4px;
  background-color: #FFF; }

p {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #FFF;
  margin-bottom: 10px; }

a {
  color: #FFF; }

a:hover {
  text-decoration: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

#header,
#contact {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  #header::after,
  #contact::after {
    clear: both;
    content: "";
    display: table; }

#contact-outer {
  position: relative;
  width: 100%;
  background: #000 url(../img/sony_bg2.png) no-repeat right bottom;
  background-size: 50%; }

.row {
  display: block;
  padding: 15px; }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

footer {
  position: relative;
  height: 300px; }

#header {
  position: relative;
  background-color: #FFF;
  width: 100%; }
  #header img {
    position: relative;
    height: 100px;
    z-index: 10; }
  #header #particle-canvas {
    position: absolute !important;
    z-index: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 200px; }
    #header #particle-canvas div {
      background: transparent !important; }
    #header #particle-canvas canvas {
      width: 100%; }

#contact #intro p {
  width: 60%; }
#contact #contact-form {
  position: relative;
  z-index: 1;
  width: 50%; }
  #contact #contact-form fieldset {
    border: none;
    margin: 0;
    padding: 0; }
  #contact #contact-form legend {
    color: #FFF;
    margin-bottom: 30px; }
  #contact #contact-form p {
    position: relative;
    margin-bottom: 20px; }
  #contact #contact-form input[type="text"], #contact #contact-form input[type="email"], #contact #contact-form textarea {
    width: 100%;
    height: 40px;
    padding: 0 0px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #FFF;
    color: #FFF;
    -webkit-appearance: none; }
    #contact #contact-form input[type="text"]::after, #contact #contact-form input[type="email"]::after, #contact #contact-form textarea::after {
      clear: both;
      content: "";
      display: table; }
  #contact #contact-form input[type="checkbox"] {
    margin-right: 10px; }
  #contact #contact-form label[for="privacy"] {
    position: relative;
    display: inline; }
  #contact #contact-form #privacy-error {
    position: absolute;
    left: 0;
    bottom: -23px; }
  #contact #contact-form .dropdown label {
    position: relative;
    margin: 0 0 5px 0; }
  #contact #contact-form span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 2px;
    border-bottom: 2px solid red;
    background-color: red;
    -moz-transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease; }
  #contact #contact-form label {
    position: absolute;
    right: 0;
    margin-top: 5px;
    display: block;
    color: #FFF; }
  #contact #contact-form #textarea span {
    bottom: 6px; }
  #contact #contact-form input,
  #contact #contact-form input[type=submit],
  #contact #contact-form textarea,
  #contact #contact-form button,
  #contact #contact-form select,
  #contact #contact-form option {
    outline-color: transparent;
    outline-style: none; }
  #contact #contact-form textarea {
    height: 40px;
    -webkit-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s; }
  #contact #contact-form textarea:focus {
    height: 150px; }
  #contact #contact-form ::-webkit-input-placeholder {
    color: #FFF; }
  #contact #contact-form ::-moz-placeholder {
    color: #FFF; }
  #contact #contact-form :-ms-input-placeholder {
    color: #FFF; }
  #contact #contact-form :-o-input-placeholder {
    color: #FFF; }
  #contact #contact-form #btn-submit {
    margin-top: 15px;
    width: auto;
    font-size: 1.5625rem;
    color: #FFF;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #FFF;
    height: 60px;
    padding: 7px 15px;
    line-height: 40px;
    border-radius: 5px; }
  #contact #contact-form #btn-submit:hover {
    background-color: red;
    border: 3px solid red;
    border-radius: 5px; }

@media screen and (min-width: 1025px) {
  #contact-outer {
    background: #000 url(../img/sony_bg2.png) no-repeat right 0;
    background-size: 40%; } }
@media screen and (max-width: 479px) {
  #contact #intro p {
    width: 100%; }
  #contact #contact-form {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
