#parallax-1 {
    -skrollr-animation-name:animation1;
}

#parallax-2 {
    -skrollr-animation-name:animation2;
}

#parallax-3 {
    -skrollr-animation-name:animation3;
}

#parallax-4 {
    -skrollr-animation-name:animation4;
}

#parallax-5 {
    -skrollr-animation-name:animation5;
}

#parallax-6 {
    -skrollr-animation-name:animation6;
}

#parallax-7 {
    -skrollr-animation-name:animation7;
}

#parallax-8 {
    -skrollr-animation-name:animation8;
}

@-skrollr-keyframes animation1 {
    0 {
        top:15%;
    }

    2000 {
        top:-10%;
    }

}

@-skrollr-keyframes animation2 {
    0 {
        top:15%;
    }

    1000 {
        top:-10%;
    }

}

@-skrollr-keyframes animation3 {
    500 {
        top:40%;
    }

    1750 {
        top:0%;
    }

}

@-skrollr-keyframes animation4 {
    500 {
        top:40%;
    }

    2750 {
        top:0%;
    }

}

@-skrollr-keyframes animation5 {
    1200 {
        top:65%;
    }

    3250 {
        top:20%;
    }
}

@-skrollr-keyframes animation6 {
    1200 {
        top:65%;
    }

    2250 {
        top:20%;
    }
}

@-skrollr-keyframes animation7 {
    2100 {
        top:90%;
    }

    3100 {
        top: 50%;
    }
}

@-skrollr-keyframes animation8 {
    2100 {
        top:90%;
    }

    4000 {
        top:50%;
    }

}