#parallax-1 {
    -skrollr-animation-name:animation1;
}

#parallax-2 {
    -skrollr-animation-name:animation2;
}

#parallax-3 {
    -skrollr-animation-name:animation3;
}

#parallax-4 {
    -skrollr-animation-name:animation4;
}

#parallax-5 {
    -skrollr-animation-name:animation5;
}

#parallax-6 {
    -skrollr-animation-name:animation6;
}

#parallax-7 {
    -skrollr-animation-name:animation7;
}

#parallax-8 {
    -skrollr-animation-name:animation8;
}

@-skrollr-keyframes animation1 {
    0 {
        top:400px;
    }

    2250 {
        top:-100px;
    }

}

@-skrollr-keyframes animation2 {
    0 {
        top:400px;
    }

    1000 {
        top:-100px;
    }

}


@-skrollr-keyframes animation3 {
    500 {
        top:1700px;
    }

    2000 {
        top:400px;
    }

}

@-skrollr-keyframes animation4 {
    500 {
        top:1500px;
    }

    2750 {
        top:400px;
    }

}


@-skrollr-keyframes animation5 {
    1200 {
        top:2700px;
    }

    4000 {
        top:300px;
    }
}

@-skrollr-keyframes animation6 {
    1200 {
        top:3000px;
    }

    3100 {
        top:300px;
    }
}


@-skrollr-keyframes animation7 {
    1600 {
        top:3400px;
    }

    3000 {
        top: 2000px;
    }
}

@-skrollr-keyframes animation8 {
    1600 {
        top:3100px;
    }

    3000 {
        top:2400px;
    }

}