/* Rohan Bourbon */
// sass --watch styles.scss:styles.css
@import "normalize";
@import "bourbon/bourbon";
@import "neat/grid-settings";
@import "neat/neat";

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: rem(14); 
}

// VARIABLES
$color-red: #e20510;
$color-white: #FFF;
$color-text: #404040;

// TYPOGRAPHY
h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    color: $color-red;
}

p {
    font-size: rem(15);
    color: $color-text;
}

a {

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 30px 0 40px 0;
    padding: 0; 
}


// COMMON STYLES
.nav-btn {
    display: block;
    width: auto;
    height: 30px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: $color-red;
    box-shadow: 2px 2px #999999;
    font-size: 11px; 
    color: $color-white;
    
        -webkit-box-shadow: 0px 1px 3px 0px rgba(153,153,153,1);
        -moz-box-shadow: 0px 1px 3px 0px rgba(153,153,153,1);
        box-shadow: 0px 1px 3px 0px rgba(153,153,153,1);
} 

.nav-btn:hover {
    background-color: $color-white;
    color: $color-text;
}

.section-divider {
    position: absolute;
    top: 450px;
    width: 100%;
    height: 25px;
    background: url(../img/global/sectionDividerFull.png) center top no-repeat;
}


header#header {
    position: relative;
    z-index: 10;
    padding: 10px 0;
}

#logo {
    float: left;
    margin-right: 5px;
    width: 99px;
    height: 85px;
    background-image: url(../img/global/phoneResqLogo.png);
    @include hide-text;

        a {
            display: block;
            width: 100%;
            height: 100%;        
        }
}

.nav-global {
    float: left;
    margin-top: 15px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        list-style-type: none;
        padding: 0;
    }

    a {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: rem(15);
        text-decoration: none;
        color: $color-white;
        text-transform: uppercase;
    }

    a:hover {
        color: $color-red;
    }    
}

#nav-main {
    li {
        position: relative;
        margin: 0 0 0 15px;
    }

    i {
        margin-left: 5px;
    }
}

#social-links {
    margin-left: 40px;

    li {
        margin: 0 10px 0 0;
    }
}

#nav-cta {
    float: right;
    margin-top: 10px;
    li {
        margin: 0 0 0 10px;
    }

    i {
        margin-right: 7px;
    }
    
    .btn-global {
        @extend .nav-btn
    }
   
}


// CAROUSEL

#carousel {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 470px;

    .slide {
        margin: 0 auto;
        
        .slide-content {
            width: 960px;
            margin: 0 auto;
        }

        article {
            float: right;
            margin-right: 130px;
            margin-top: 140px;
            width: 550px;
            text-align: right;
            font-family: 'Open Sans', sans-serif;

                h1 {
                    margin: 0;
                    color: $color-white;
                    text-transform: uppercase;                    
                    font-size: 32px;
                    font-weight: 600;                
                }

                p {
                    margin: 5px 0 40px 0;
                    font-size: 22px;
                    font-weight: 300;
                    color: $color-white;
                }

                a {
                    padding: 8px 25px;
                    font-size: 22px;
                    color: $color-white;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;                    
                    border-radius: 4px;
                    border: 3px solid $color-white;                    
                }

                a:hover {
                    background-color: $color-red;                   
                    border: 3px solid $color-red;
                    border-radius: 5px; 
                }
        }
    } // End of Slides

    #carousel-btn {
        position: absolute;
        top: 200px;
        width: 100%;
    }

        .btn-slide {
            position: absolute;
            width: 30px;
            height: 40px;
            color: $color-white;
        }
        
        .btn-slide:hover {
            color: $color-red;
        }

        #btn-prev {
            left: 30px;
        }

        #btn-nxt {
            right: 30px;
        }   


    #slide-1 {
        width: 100%;
        height: 470px;
        background: url(../img/carousel/slide-1.jpg);
        background-size: cover;
    }
}





// NEAT LAYOUT

// Grid layout
.container {
    @include outer-container();
}
    // Define rows
    .row {
        @include row( $display: default, $direction: LTR);
        margin: 0;
    }


// Services
#services {
    margin-top: 380px;
    @include clearfix;

    .row.row-products {
        margin-bottom: 50px;
    }
}
    
    .intro {
        @include span-columns(12 of 12);        
        text-align: center; 


            h1 {
                position: relative;
                font-size: rem(36);
                text-transform: uppercase;
                
                span {
                    display: block;
                    margin: 0 auto;
                    width: 130px;
                    height: 10px;
                    border-top: 2px solid $color-red;
                }
            }

            p {
                width: 60%;
                margin: 0 auto;
            }
    }

    #mouse-scroll {
        display: block;
        margin: 20px auto 15px auto;
        width: 25px;
        height: 72px;
        background-image: url(../img/global/iconMouseDown.png);
        clear: both;
    }

    .repair {
        @include span-columns(4 of 12);
        text-align: center; 
            
            h1 {
                font-size: rem(19);
            }

            p {
                font-size: rem(12);
                width: 70%;
                margin: 0 auto;            
            }

            span {
                display: block;
                margin: 0 auto;
                height: 124px;
                @include hide-text;                
            }            
    }

    #iphone-repair span {
        width: 85px;
        background: url(../img/repair/repair_iphone.png) no-repeat bottom center;
    }

    #ipad-repair span {
        width: 123px;
        background: url(../img/repair/repair_ipad.png) no-repeat bottom center;
    }

    #ipod-repair span {
        width: 100px;
        background: url(../img/repair/repair_ipod.png) no-repeat bottom center;
    }

    #android-repair span {
        width: 125px;
        background: url(../img/repair/repair_android.png) no-repeat bottom center;
    }

    #laptop-repair span {
        width: 220px;
        background: url(../img/repair/repair_laptop.png) no-repeat bottom center;
    }

    #unlocks-repair span {
        width: 60px;
        background: url(../img/repair/repair_unlocks.png) no-repeat bottom center;
    }


















    #half-bg-image {
        min-height: 450px;
    }
    
    // Row 1
    .element-1 {
        @include span-columns(4 of 12);        
    }

    .element-2 {
        @include span-columns(4 of 12);
    }

    .element-3 {
        @include span-columns(4 of 12);
    }    

    // Row 2: Pass 'block-collapse' as an argument after '6 of 12' to get rid of gutters on selected elements
    .element-4 {
        @include span-columns(6 of 12);
    }

    .element-5 {
        @include span-columns(6 of 12);    
    }
    
    // Row 3
    .element-6 {
        @include span-columns(3 of 12);
    }

    .element-7 {
        @include span-columns(9 of 12);
    } 

    // Row 4
    .element-8 {
        @include span-columns(4 of 12);
        @include shift(8);
    }
    


    // Row 10
    .element-10 {
        @include span-columns(6 of 12, block-collapse);
        min-height: 450px;
        position: relative;
        z-index: 1;
    }

        .bg-color-filler {
            position: absolute;
            z-index: 0;
            left: 0;
            width: 50%;
            min-height: 450px;
            @include linear-gradient(to top, red, yellow);
        }

    .element-11 {
        width: 50%;
        min-height: 450px;
        position: absolute;
        right: 0;       
        background: url(../images/android-phone.jpg) no-repeat center center;
        background-size: cover;

        h1, p, button {
            display: none!important;
        }
    }

    // Desktop Small styles        
    .container {
        @include media($desktop-med) {
            margin: 0 40px;
        }
    }
    
    .container {
        @include media($desktop-sml) {
            margin: 0 15px;
        }
    }

        .element {
            @include media($desktop-sml) {
                @include linear-gradient(to top, blue, purple);
            }
        }
    
    // Mobile styles
    .container {
        @include media($mobile) {
            margin: 0 5px;
        }
    }

    // .row {
    //     margin: 0;
    // }

    .element {
        @include media($mobile) {
            @include span-columns(12 of 12);
            @include linear-gradient(to top, red, pink);
        }
        margin-bottom: 15px;
    }

    .element-1, 
    .element-2, 
    .element-3 {
            @include media($mobile) {
                @include span-columns(4 of 12);            
        }
    }
    
    .element-8 {
        @include media($mobile) {
            @include shift(0);
        }
    }


  #mybutton {   
    //@include button(orange);
    outline: 0;
}

.element {
    min-height: 100px;
    @include pad(15px);
    @include linear-gradient(to top, red, orange);

    h1 {
        font-family: $helvetica;
        // font-size: golden-ratio(14px, 1);
        @include text-decoration(underline double rgb(124,213,224));
    }
}  
