@font-face {
    font-family: 'arial_blackregular';
    src: url('../fonts/arial_black/arial_black.eot');
    src: url('../fonts/arial_black/arial_black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_black/arial_black.woff2') format('woff2'),
         url('../fonts/arial_black/arial_black.woff') format('woff'),
         url('../fonts/arial_black/arial_black.svg#arial_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Google fonts import
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

h2 {
  font-family: 'Roboto', sans-serif;
}

h2 {
    //font-family: 'arial_blackregular', Arial, Verdana;   
    margin: 15px 0;
    text-transform: uppercase; 
}

p {
	font-family: $text-font;
	font-size: $text-size;
    line-height: 1.5em;
    color: $black;
    margin-bottom: 8px;
}