// Custom SASS imports
@import "partials/_base";
@import "partials/_typography";
@import "partials/_mixins";
@import "partials/_layout";
@import "partials/_mobile";

body {
    background: #d6d6d6;
}

#site-header {

	#logo {
		float: left;
	}

	#user-shop {
		float: right;
		margin: 13px 20px 0;

			#cart,
			#favourites {
				position: relative;
				display: block;
				float: left;

				.total-count {
					position: absolute;
					background-color: $blue;
					color: $white;
					width: 25px;
					height: 25px;
					font-size: 12px;
					text-align: center;
					line-height: 25px;
					@include border-radius(25px);
				}
			}

			#cart {
				width: 125px;
				height: 29px;
				background: url(../img/icon_cart.png) no-repeat;
				padding-left: 10px;

					.total-count {
						top: -11px;
						left: 30px;
					}

					.total-cost {
						padding-left: 50px;
						line-height: 30px;
					}
			}

			#favourites {
				width: 35px;
				height: 30px;
				background: url(../img/icon_heart.png) no-repeat;

					.total-count {
						top: -11px;
						right: -15px;
					}
			}
	}

}

.container {
	#content {
		#product-details {
			box-sizing: border-box;
			padding: 60px 40px 20px 50px;

			span {
				display: block;
			}

			#category {
				font-weight: $bold;
				color: #333;
				text-transform: uppercase;
			}

			#product-id {
				float: right;
				color: #BBB;
			}

			#product-title {
				font-size: 30px;
				font-weight: $light;
			}

			#orginal-price {
				float: left;
				display: inline;
				font-size: 24px;
				font-weight: $regular;
				color: #e51e1a;
				text-decoration: line-through;
			}

			#sale-price {
				display: inline-block;
				font-size: 24px;
				font-weight: $light;
				color: #333;
			}

			#retail-price {
				color: #BBB;
			}

			#add-product {
				float: right;
				display: inline-block;
				width: 200px;
				padding: 20px 50px;
				color: $white;
				background-color: $blue;
				text-decoration: none;
				font-weight: $bold;
				text-transform: uppercase;
				@include border-radius(5px);
				@extend .clearfix;
			}

			#stock-details {}

			#rating {}

			#rating-score {}

			#totat-reviews {}
		}
	}

	#user-profile {

		ul {
			height: 50px;
			margin: 0;
			padding: 25px 0;

			li {
				float: left;
				width: 25%;
				height: auto;
				text-align: center;
				line-height: 50px;

				span {
					display: inline-block;
					min-height: 30px;
					font-size: 14px;
				}
			}

			li.favourites span {
				background: url(../img/icon_heart_black.png) no-repeat left center;
				padding-left: 40px;
			}

			li.notification span {
				background: url(../img/icon_notification.png) no-repeat left center;
				padding-left: 55px;
			}

			li.total-price {
				span {
					display: block;
					line-height: normal;
					min-height: auto;
				}

				span:nth-child(2) {
					font-size: 24px;
				}
			}

			li.payment-cards {
				box-sizing: border-box;
				padding-left: 40px;
				text-align: left;
				line-height: normal;

					span {
						min-height: 25px;
					}

					span:nth-child(2) {
						display: block;
						background: url(../img/icon_payment.png) no-repeat bottom left;
					}
			}
		}
	}
}

// Footer
footer ul {
	margin: 0;
	padding: 0;

		li {
			float: left;
			width: 20%;
			height: 66px;

			a {
				display: block;
				width: 100%;
				height: 100%;
				font-size: 12px;
				line-height: 70px;
				text-align: center;
				color: #888;
				text-decoration: none;
			}

			a:hover {
				border-bottom: 4px solid $blue;
				color: #f6f6f6;
			}
		}
}