// Custom SASS imports
@import "partials/_base";
@import "partials/_typography";
@import "partials/_mixins";
@import "partials/_layout";

body {
    background: #d6d6d6;
}

#site-header {

	#logo {
		float: left;
	}

	#user-shop {
		float: right;
		margin: 13px 20px 0;

			#cart,
			#favourites {
				position: relative;
				display: block;
				float: left;

				.total-count {
					position: absolute;
					color: $white;
					width: 25px;
					height: 25px;
					text-align: center;
					line-height: 25px;
					background-color: $blue;
					@include border-radius(25px);
				}
			}

			#cart {
				width: 125px;
				height: 29px;
				background: url(../img/icon_cart.png) no-repeat;
				padding-left: 10px;

					.total-count {
						top: -11px;
						left: 30px;
					}

					#total-cost {
						padding-left: 50px;
						line-height: 30px;
					}

					#cart-list {
						width: 150px;
						padding: 0;
						background-color: $white;						
						// /display: none;

						li {
							position: relative;
							border-bottom: 1px solid $grey;
							padding: 5px;

							a {
								text-decoration: none;
							}
						}

						li .remove {
							position: absolute;
							right: 10px;
							content: "x";
							@include border-radius(15px);
							background-color: red;
							width: 15px;
							height: 15px;
							text-align: center;
							line-height: 15px;
							color: $white;
						}

						li .fav {
							position: absolute;
							right: 35px;							
							width: 15px;
							height: 15px;							
							background: url(../img/icon_heart.png) no-repeat 0 2px;
							background-size: 100%;
						}
					}
			}

			#favourites {
				width: 35px;
				height: 30px;
				background: url(../img/icon_heart.png) no-repeat;

					.total-count {
						top: -11px;
						right: -15px;
					}
			}
	}

}

.container {
	#content {
		#product-details {
			box-sizing: border-box;
			padding: 35px 40px 20px 50px;

			span {
				display: block;
			}

			#category {
				float: left;
				color: #333;
			}

			#product-id {
				float: right;
				color: $grey;
			}

			#product-title {
				font-size: 3.0rem;
				font-weight: $light;
			}

			#price-container {
				float: left;
				margin-top: 20px;

				#orginal-price {
					float: left;
					display: inline;
					margin-right: 10px;
					font-size: 2.4rem;
					font-weight: $regular;
					color: #e51e1a;
					text-decoration: line-through;
				}

				#sale-price {
					display: inline-block;
					font-size: 2.4rem;
					font-weight: $light;
					color: #333;
				}

				#retail-price {
					margin-top: 5px;
					color: $grey;
				}
			}

			#add-product {
				float: right;
				display: block;
				width: auto;
				margin-top: 15px;
				padding: 20px 50px;
				color: $white;
				background-color: $blue;
				text-decoration: none;
				font-size: 1.2rem;
				@include border-radius(5px);
				@extend .clearfix;
			}

				#add-product:hover {
					background-color: #63d5ff;
					  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
					     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
					       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
					          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

				}

			#country {
				@extend .clearfix;
				padding: 35px 0 20px 0;
				clear: both;
				color: #333;

					span {
						display: inline-block;
						font-weight: $regular;
						text-transform: none;
						margin: 0 10px;
					}

					a {
						text-transform: none;
					}
			}

			#stock-details {
				color: $grey;
				font-size: $text-size;
			}

			#item-details {
				margin: 0;
				padding: 0;

					li {
						margin-bottom: 5px;
						padding-left: 35px;
						background: url(../img/list_bullet.png) no-repeat left center;
						vertical-align: middle;
					}
			}

			p, li {
				font-size: 1.4rem;
			}

			#rating {
				float: left;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					width: 18px;
					height: 17px;
					padding: 0;

					a {
						display: block;
						width: 100%;
						height: 100%;
						background: url(../img/icon_star_grey.png) no-repeat;
					}

					a:hover,
					a.active {
						background: url(../img/icon_star_blue.png) no-repeat;
					}
				}

			}

			hr {
				width: 116%;
				border-color: #eee;
				border-style: solid;
				margin: 20px 0 25px -50px;
			}

			#rating-score,
			#total-reviews {
				float: left;
				display: block;
				margin-left: 10px;
				line-height: 1.5em;
			}

			#total-reviews {
				margin-left: 30px;
			}
		}
	}

	#user-profile {

		ul {
			height: 50px;
			margin: 0;
			padding: 25px 0;

			li {
				float: left;
				width: 25%;
				height: auto;
				text-align: center;
				line-height: 50px;

				span {
					display: inline-block;
					min-height: 30px;
					font-size: 1.4rem;
				}
			}

			li.favourites span {
				background: url(../img/icon_heart_black.png) no-repeat left center;
				padding-left: 40px;
			}

			li.notification span {
				background: url(../img/icon_notification.png) no-repeat left center;
				padding-left: 55px;
			}

			li.total-price {
				span {
					display: block;
					line-height: normal;
					min-height: auto;
				}

				span:nth-child(2) {
					font-size: 2.4rem;
				}
			}

			li.payment-cards {
				box-sizing: border-box;
				padding-left: 40px;
				text-align: left;
				line-height: normal;

					span {
						min-height: 25px;
					}

					span:nth-child(2) {
						display: block;
						background: url(../img/icon_payment.png) no-repeat bottom left;
					}
			}
		}
	}
}

// Footer
footer ul {
	margin: 0;
	padding: 0;

		li {
			float: left;
			width: 20%;
			height: 66px;

			a {
				display: block;
				width: 100%;
				height: 100%;
				line-height: 70px;
				text-align: center;
				color: #888;
				text-decoration: none;
			}

			a:hover {
				border-bottom: 4px solid $blue;
				color: #f6f6f6;
			}
		}
}

@import "partials/_mobile";