@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-family: "Lato", arial, sans-serif;
  font-size: 1.2rem; }

ul li {
  list-style-type: none; }

a {
  color: #000; }

a:hover {
  text-decoration: none; }

#total-cost,
#category,
#add-product,
#country,
#rating-score {
  font-weight: 700;
  color: #BBB; }

#add-product,
#country,
#category,
footer a {
  text-transform: uppercase; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

.clearfix:after, #site-wrapper .container #content:after, .container #content #product-details #add-product:after, .container #content #product-details #country:after {
  content: "";
  display: table;
  clear: both; }

.site-width {
  width: 1280px;
  margin: 0 auto; }

#site-header-wrapper {
  width: 100%;
  background-color: #1a1a1a;
  border-bottom: 4px solid #00aeef; }
  #site-header-wrapper #site-header {
    min-height: 50px;
    padding: 25px 0; }

#site-wrapper {
  background: #f6f6f6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f6f6f6, #d6d6d6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f6f6f6, #d6d6d6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f6f6f6, #d6d6d6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f6f6f6, #d6d6d6);
  /* Standard syntax */ }
  #site-wrapper .container #content {
    padding: 30px 0; }
    #site-wrapper .container #content #product-img {
      float: left;
      width: 50%;
      min-height: 657px; }
    #site-wrapper .container #content #product-details {
      float: right;
      width: 50%;
      min-height: 657px;
      background-color: #FFF; }
  #site-wrapper .container #user-profile {
    min-height: 100px;
    background-color: #FFF; }

footer {
  min-height: 70px;
  margin: 30px auto;
  background-color: #222; }

body {
  background: #d6d6d6; }

#site-header #logo {
  float: left; }
#site-header #user-shop {
  float: right;
  margin: 13px 20px 0; }
  #site-header #user-shop #cart,
  #site-header #user-shop #favourites {
    position: relative;
    display: block;
    float: left; }
    #site-header #user-shop #cart .total-count,
    #site-header #user-shop #favourites .total-count {
      position: absolute;
      color: #FFF;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      background-color: #00aeef;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      border: 0px solid #000000; }
  #site-header #user-shop #cart {
    width: 125px;
    height: 29px;
    background: url(../img/icon_cart.png) no-repeat;
    padding-left: 10px; }
    #site-header #user-shop #cart .total-count {
      top: -11px;
      left: 30px; }
    #site-header #user-shop #cart #total-cost {
      padding-left: 50px;
      line-height: 30px; }
  #site-header #user-shop #favourites {
    width: 35px;
    height: 30px;
    background: url(../img/icon_heart.png) no-repeat; }
    #site-header #user-shop #favourites .total-count {
      top: -11px;
      right: -15px; }

.container #content #product-details {
  box-sizing: border-box;
  padding: 35px 40px 20px 50px; }
  .container #content #product-details span {
    display: block; }
  .container #content #product-details #category {
    float: left;
    color: #333; }
  .container #content #product-details #product-id {
    float: right;
    color: #BBB; }
  .container #content #product-details #product-title {
    font-size: 3.0rem;
    font-weight: 300; }
  .container #content #product-details #price-container {
    float: left;
    margin-top: 20px; }
    .container #content #product-details #price-container #orginal-price {
      float: left;
      display: inline;
      margin-right: 10px;
      font-size: 2.4rem;
      font-weight: 400;
      color: #e51e1a;
      text-decoration: line-through; }
    .container #content #product-details #price-container #sale-price {
      display: inline-block;
      font-size: 2.4rem;
      font-weight: 300;
      color: #333; }
    .container #content #product-details #price-container #retail-price {
      margin-top: 5px;
      color: #BBB; }
  .container #content #product-details #add-product {
    float: right;
    display: block;
    width: auto;
    margin-top: 15px;
    padding: 20px 50px;
    color: #FFF;
    background-color: #00aeef;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 0px solid #000000; }
  .container #content #product-details #add-product:hover {
    background-color: #63d5ff;
    -webkit-transition: all 0.3s ease-out;
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-out;
    /* Opera 10.50–12.00 */
    transition: all 0.3s ease-out;
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
  .container #content #product-details #country {
    padding: 35px 0 20px 0;
    clear: both;
    color: #333; }
    .container #content #product-details #country span {
      display: inline-block;
      font-weight: 400;
      text-transform: none;
      margin: 0 10px; }
    .container #content #product-details #country a {
      text-transform: none; }
  .container #content #product-details #stock-details {
    color: #BBB;
    font-size: 1.2rem; }
  .container #content #product-details #item-details {
    margin: 0;
    padding: 0; }
    .container #content #product-details #item-details li {
      margin-bottom: 5px;
      padding-left: 35px;
      background: url(../img/list_bullet.png) no-repeat left center;
      vertical-align: middle; }
  .container #content #product-details p, .container #content #product-details li {
    font-size: 1.4rem; }
  .container #content #product-details #rating {
    float: left;
    margin: 0;
    padding: 0; }
    .container #content #product-details #rating li {
      display: inline-block;
      width: 18px;
      height: 17px;
      padding: 0; }
      .container #content #product-details #rating li a {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../img/icon_star_grey.png) no-repeat; }
      .container #content #product-details #rating li a:hover,
      .container #content #product-details #rating li a.active {
        background: url(../img/icon_star_blue.png) no-repeat; }
  .container #content #product-details hr {
    width: 116%;
    border-color: #eee;
    border-style: solid;
    margin: 20px 0 25px -50px; }
  .container #content #product-details #rating-score,
  .container #content #product-details #total-reviews {
    float: left;
    display: block;
    margin-left: 10px;
    line-height: 1.5em; }
  .container #content #product-details #total-reviews {
    margin-left: 30px; }
.container #user-profile ul {
  height: 50px;
  margin: 0;
  padding: 25px 0; }
  .container #user-profile ul li {
    float: left;
    width: 25%;
    height: auto;
    text-align: center;
    line-height: 50px; }
    .container #user-profile ul li span {
      display: inline-block;
      min-height: 30px;
      font-size: 1.4rem; }
  .container #user-profile ul li.favourites span {
    background: url(../img/icon_heart_black.png) no-repeat left center;
    padding-left: 40px; }
  .container #user-profile ul li.notification span {
    background: url(../img/icon_notification.png) no-repeat left center;
    padding-left: 55px; }
  .container #user-profile ul li.total-price span {
    display: block;
    line-height: normal;
    min-height: auto; }
  .container #user-profile ul li.total-price span:nth-child(2) {
    font-size: 2.4rem; }
  .container #user-profile ul li.payment-cards {
    box-sizing: border-box;
    padding-left: 40px;
    text-align: left;
    line-height: normal; }
    .container #user-profile ul li.payment-cards span {
      min-height: 25px; }
    .container #user-profile ul li.payment-cards span:nth-child(2) {
      display: block;
      background: url(../img/icon_payment.png) no-repeat bottom left; }

footer ul {
  margin: 0;
  padding: 0; }
  footer ul li {
    float: left;
    width: 20%;
    height: 66px; }
    footer ul li a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 70px;
      text-align: center;
      color: #888;
      text-decoration: none; }
    footer ul li a:hover {
      border-bottom: 4px solid #00aeef;
      color: #f6f6f6; }

@media all and (max-width: 1280px) {
  #site-wrapper,
  #site-header {
    width: 90%;
    margin: 0 5%; }
    #site-wrapper .container,
    #site-header .container {
      width: 100%; }

  #product-img img {
    max-width: 100%;
    height: auto; } }
@media all and (max-width: 1060px) {
  .container #content #product-details {
    padding: 20px;
    overflow: hidden; }
    .container #content #product-details #add-product {
      float: left;
      clear: both; }
    .container #content #product-details #price-container {
      margin-top: 0; } }
@media all and (max-width: 1024px) {
  .container #user-profile ul {
    height: auto;
    overflow: hidden; }
    .container #user-profile ul li {
      width: 100%;
      margin-bottom: 20px; }
    .container #user-profile ul li.payment-cards {
      text-align: center; }
      .container #user-profile ul li.payment-cards span:nth-child(2) {
        background-position: bottom center; } }
@media all and (max-width: 768px) {
  #site-wrapper .container #content {
    padding: 0; }
    #site-wrapper .container #content #product-img,
    #site-wrapper .container #content #product-details {
      min-height: auto;
      width: 100%;
      float: none;
      display: block; }
    #site-wrapper .container #content #product-img {
      min-height: auto;
      float: none;
      display: block; } }
@media all and (max-width: 600px) {
  footer ul li {
    float: none;
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
