// DESKTOP LARGE | Min 1024px
@include media($large-desktop) {
	#contact-outer {
		background: $black url(../img/sony_bg2.png) no-repeat right 0;
		background-size: 40%;
	}
}

// DESKTOP | Max 1024px
@include media($desktop) {
}

// TABLET | Max width 800px
@include media($tablet) {
}

// MOBILE | max width 479px
@include media($mobile) {

	#contact {
		#intro p {
			width: 100%;
		}

	    #contact-form {
	        width: 100%;
	     }
	}
}

// MOBILE SMALL | max width 320px
@include media($small-mobile) {
}

// MOBILE LANDSCAPE | Custom inline variable breakpoint
$mobile-home: new-breakpoint(max-height 414px);
