// Bourbon and Neat import
// Silence warnings due to bourbon update and deprecated
//$output-bourbon-deprecation-warnings: false;
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

// Custom SASS imports

// Partials
@import "partials/_base";
@import "partials/_typography";
@import "partials/_nav";
@import "partials/_layout";

// Modules
@import "modules/_common";
@import "modules/_mixins";

// Vendor
@import "vendor/_hamburgers";

body {
	background-color: pink;
}

// Temp. Elements
#infinite-scroll {
	ul {
		margin: 0;
		padding: 0;

			li {
				@include span-columns(3);
				@include omega();
				height: 250px;

				img {
					width: 100%;
					height: auto;

				}

				// TABLET | Max width 800px
				@include media($tablet) {
					@include span-columns(6);
					@include omega(2n);

					&:last-child {
						@include span-columns(12);
						margin-top: 10px;
					}
				}

				// MOBILE | max width 479px
				@include media($mobile) {
					@include span-columns(12);
				}
			}

	}
}

@import "partials/_mobile";