// Bourbon and Neat import
// Silence warnings due to bourbon update and deprecated
//$output-bourbon-deprecation-warnings: false;
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

// Custom SASS imports

// Partials
@import "partials/_base";
@import "partials/_typography";
@import "partials/_nav";
@import "partials/_layout";

// Modules
@import "modules/_common";
@import "modules/_mixins";

// Vendor
@import "vendor/_hamburgers";

body {
	//background-color: black;
}

.container {
	//background: red;
}

// Temp. Elements
#infinite-scroll {

	ul {
		margin: 0;
		padding: 0;

			.grid-item {
				position: relative;
				@include span-columns(3);
				@include omega();
				height: auto;
				margin-bottom: 8px;	

					img {
						width: 100%;
						height: auto;
					}

					.content {
						width: 100%;
						clear: both;
						margin-top: 3px;

							.avatar {
								display: block;
								float: left;
								margin-right: 10px;
								width: 30px;
								height: 30px;
								background-size: cover; 
							}
							
								p {
									margin: 0;
									font-size: 1.3rem;
									line-height: 1.2;

										span {
											font-weight: bold;
										}
								}

								.username {
									font-weight: bold;
								}
					}	


				// TABLET | Max width 800px
				@include media($tablet) {
					@include span-columns(6);
					@include omega();
				}

				// // MOBILE | max width 479px
				@include media($mobile) {
					@include span-columns(12);
				}
			}

	}
}

@import "partials/_mobile";