html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1.6rem; }

h1, h2, p {
  margin: 0; }

ul li {
  list-style-type: none; }

@font-face {
  font-family: 'arial_blackregular';
  src: url("../fonts/arial_black/arial_black.eot");
  src: url("../fonts/arial_black/arial_black.eot?#iefix") format("embedded-opentype"), url("../fonts/arial_black/arial_black.woff2") format("woff2"), url("../fonts/arial_black/arial_black.woff") format("woff"), url("../fonts/arial_black/arial_black.svg#arial_blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }
p {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #000;
  margin-bottom: 8px; }

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }
  .container::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 1040px) {
    .container {
      padding: 0 4%;
      transition: all 0.15s ease-out 0s; } }
  @media screen and (max-width: 768px) {
    .container {
      padding: 0 2%;
      transition: all 0.15s ease-out 0s; } }
  @media screen and (max-width: 479px) {
    .container .element:first-child {
      margin-bottom: 10px; } }

.row {
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: block; }

.col {
  height: 200px; }

.element {
  padding: 15px; }

#section-1 article {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 32.20339%; }
  #section-1 article:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #section-1 article {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 49.15254%; }
      #section-1 article:last-child {
        margin-right: 0; }
      #section-1 article:nth-child(2n) {
        margin-right: 0; }
      #section-1 article:nth-child(2n+1) {
        clear: left; }
      #section-1 article:last-child {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%;
        margin-top: 10px; }
        #section-1 article:last-child:last-child {
          margin-right: 0; } }
  @media screen and (max-width: 479px) {
    #section-1 article {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 100%; }
      #section-1 article:last-child {
        margin-right: 0; } }

#section-2 article {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 49.15254%; }
  #section-2 article:last-child {
    margin-right: 0; }
  @media screen and (max-width: 479px) {
    #section-2 article {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 100%; }
      #section-2 article:last-child {
        margin-right: 0; } }

#section-3 {
  background-color: black; }
  #section-3 article {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%; }
    #section-3 article:last-child {
      margin-right: 0; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  margin-top: 20px;
  height: 0; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.antialiased {
  smoothing: antialiased; }

/* Preload images */
body:after {
  content: url(../../assets/img/close.png) url(../../assets/img/loading.gif) url(../../assets/img/prev.png) url(../../assets/img/next.png);
  display: none; }

body.lb-disable-scrolling {
  overflow: hidden; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../assets/img/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../assets/img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../assets/img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-caption a {
  color: #4ae; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../assets/img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 2px; }

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s; }

.hamburger--slider .hamburger-inner::after {
  top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg); }

#infinite-scroll ul {
  margin: 0;
  padding: 0; }
  #infinite-scroll ul .grid-item {
    position: relative;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 23.72881%;
    margin-right: 0;
    height: auto;
    margin-bottom: 8px; }
    #infinite-scroll ul .grid-item:last-child {
      margin-right: 0; }
    #infinite-scroll ul .grid-item img {
      width: 100%;
      height: auto; }
    #infinite-scroll ul .grid-item .content {
      width: 100%;
      clear: both;
      margin-top: 3px; }
      #infinite-scroll ul .grid-item .content .avatar {
        display: block;
        float: left;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        background-size: cover; }
      #infinite-scroll ul .grid-item .content p {
        margin: 0;
        font-size: 1.3rem;
        line-height: 1.2; }
        #infinite-scroll ul .grid-item .content p span {
          font-weight: bold; }
      #infinite-scroll ul .grid-item .content .username {
        font-weight: bold; }
    @media screen and (max-width: 768px) {
      #infinite-scroll ul .grid-item {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 49.15254%;
        margin-right: 0; }
        #infinite-scroll ul .grid-item:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 479px) {
      #infinite-scroll ul .grid-item {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        #infinite-scroll ul .grid-item:last-child {
          margin-right: 0; } }
