html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1024px;
  opacity: 0.1;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999; }
  @media screen and (max-width: 320px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%); } }
  @media screen and (max-width: 479px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%); } }
  @media screen and (max-width: 768px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%); } }
  @media screen and (max-width: 1040px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 1025px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, red 0, red 6.77966%, transparent 6.77966%, transparent 8.47458%, red 8.47458%, red 15.25424%, transparent 15.25424%, transparent 16.94915%, red 16.94915%, red 23.72881%, transparent 23.72881%, transparent 25.42373%, red 25.42373%, red 32.20339%, transparent 32.20339%, transparent 33.89831%, red 33.89831%, red 40.67797%, transparent 40.67797%, transparent 42.37288%, red 42.37288%, red 49.15254%, transparent 49.15254%, transparent 50.84746%, red 50.84746%, red 57.62712%, transparent 57.62712%, transparent 59.32203%, red 59.32203%, red 66.10169%, transparent 66.10169%, transparent 67.79661%, red 67.79661%, red 74.57627%, transparent 74.57627%, transparent 76.27119%, red 76.27119%, red 83.05085%, transparent 83.05085%, transparent 84.74576%, red 84.74576%, red 91.52542%, transparent 91.52542%, transparent 93.22034%, red 93.22034%, red 100.0%, transparent 100.0%); } }

html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1.4rem; }

h1, h2, p {
  margin: 0; }

ul li {
  list-style-type: none; }

@font-face {
  font-family: 'arial_blackregular';
  src: url("../fonts/arial_black/arial_black.eot");
  src: url("../fonts/arial_black/arial_black.eot?#iefix") format("embedded-opentype"), url("../fonts/arial_black/arial_black.woff2") format("woff2"), url("../fonts/arial_black/arial_black.woff") format("woff"), url("../fonts/arial_black/arial_black.svg#arial_blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }
p {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5em;
  color: #FFF;
  margin-bottom: 8px; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1040px) {
    .container {
      padding: 0 4%;
      transition: all .5s linear;
      -o-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -webkit-transition: all .5s linear; } }
  @media screen and (max-width: 768px) {
    .container {
      padding: 0 2%;
      transition: all .5s linear;
      -o-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -webkit-transition: all .5s linear; } }

.row {
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

.col {
  height: 200px; }

.element {
  padding: 15px; }

#section-1 article {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 32.20339%; }
  #section-1 article:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #section-1 article {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 49.15254%; }
      #section-1 article:last-child {
        margin-right: 0; }
      #section-1 article:nth-child(2n) {
        margin-right: 0; }
      #section-1 article:nth-child(2n+1) {
        clear: left; }
      #section-1 article:last-child {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        #section-1 article:last-child:last-child {
          margin-right: 0; } }
  @media screen and (max-width: 479px) {
    #section-1 article {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 100%; }
      #section-1 article:last-child {
        margin-right: 0; } }

#section-2 article {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 49.15254%; }
  #section-2 article:last-child {
    margin-right: 0; }
  @media screen and (max-width: 479px) {
    #section-2 article {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 100%; }
      #section-2 article:last-child {
        margin-right: 0; } }

#section-3 {
  background-color: black; }
  #section-3 article {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%; }
    #section-3 article:last-child {
      margin-right: 0; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  margin-top: 20px;
  height: 0; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 2px; }

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-timing-function: ease;
  transition-duration: 0.2s; }

.hamburger--slider .hamburger-inner::after {
  top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg); }

body {
  background-color: pink; }

#element-1 {
  background-color: red; }

#element-2 {
  background-color: orange; }

#element-3 {
  background-color: green; }

#element-4 {
  background-color: blue; }

#element-5 {
  background-color: turquoise; }

#element-6 {
  background-color: purple; }

/*# sourceMappingURL=styles.css.map */
