// Hover affects on various links and icons
@mixin hover-links() {
	-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
			-ms-border-radius: all 300ms ease;
				transition: all 300ms ease;
}

@mixin border-radius($radius) {
	border-radius: $radius;
		-webkit-border-radius: $radius;
			-moz-border-radius: $radius;
				-ms-border-radius: $radius;
					-o-border-radius: $radius;
	border: 0px solid #000000;	
}

// Extends
.antialiased {
	-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
			-o-font-smoothing: antialiased;
}

// Clear Fix
.clearfix {
	&:after {
	content: "";
	display: table;
	clear: both;
	}
}