// DESKTOP LARGE | Min 1280px
@media all and (max-width: 1280px) {
 	#site-wrapper,
 	#site-header {
 		width: 90%;
 		margin: 0 5%;

 		.container {
 			width: 100%;
 		}
 	}

 	#product-img img {
 		max-width: 100%;
 		height: auto;
 	}
 }

@media all and (max-width: 1060px) {
	.container {
		#content {
			#product-details {
				padding: 20px;
				overflow: hidden;

				#add-product {
					float: left;
					clear: both;
				}

				#price-container {
					margin-top: 0;
				}
			}
		}
	}
}

// // DESKTOP | Max 1024px
 @media all and (max-width: 1024px) {
	.container {
		#user-profile {

			ul {
				height: auto;
				overflow: hidden;

				li {
					width: 100%;
					margin-bottom: 20px;
				}

				li.payment-cards {
					text-align: center;

					span:nth-child(2) {
						background-position: bottom center;
					}
				}
			}
		}
 	}
 }

// TABLET | Max width 768px
 @media all and (max-width: 768px) {
	 #site-wrapper {
		.container {
			#content {
	 			padding: 0;

				#product-img,
				#product-details {
					min-height: auto;
					width: 100%;
					float: none;
					display: block;
				}

				#product-img {
					min-height: auto;
					float: none;
					display: block;
				}
			}
		}
	}
}

// MOBILE starts at 600px
 @media all and (max-width: 600px) {
	footer ul li {
		float: none;
		width: 100%;
	}
}

// // MOBILE SMALL | max width 320px
// @include media($small-mobile) {
// }

// // MOBILE LANDSCAPE | Custom inline variable breakpoint
// $mobile-home: new-breakpoint(max-height 414px);
