$site-font: 'Lato', arial, sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

body {
    font-family: $site-font;
    font-size: 12px;
}

a {
    color: $black;
}

a:hover {
    text-decoration: none;
}

// Lato Regular font
p,
a,
footer a, 
#user-profile li span {
    font-family: $regular;
}

// Lato Bold font
#cart .total-cost {
    font-family: $bold;
    font-weight: 700;
    color: #bbb;
    font-size: 12px;
}

// Uppercase
footer a {
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
}