$site-font: 'Lato', arial, sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

body {
    font-family: $site-font;
    font-size: 12px;
}



// Lato Regular font
p,
a,
footer a, 
#user-profile li span {
    font-family: $regular;
}

// Lato Bold font
#cart .total-cost {
    font-family: $bold;
    font-weight: 700;
    color: #bbb;
    font-size: 12px;
}

// Uppercase
footer a {
    text-transform: uppercase;
}


p {
	font-size: $text-size;
    line-height: 1.5em; 
    color: $black;
    margin-bottom: 8px;    
}

ul li {
    list-style-type: none;
}