$site-font: 'Lato', arial, sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$text-size: 1.2rem; // 1rem = 10px

html {
    font-size: 62.5%;
}

body {    
    font-family: $site-font;
    font-size: $text-size;
}

ul li {
    list-style-type: none;
}

a {
    color: $black;
}

a:hover {
    text-decoration: none;
}


// Lato Bold
#total-cost,
#category,
#add-product,
#country,
#rating-score { 
    font-weight: $bold;
    color: $grey;    
}

// Uppercase
#add-product,
#country,
#category,
footer a {
    text-transform: uppercase;
}

