.container::after {
  clear: both;
  content: "";
  display: block; }
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 4%;
    transition: all .5s linear; } }
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0; } }
.container .element {
  width: calc(100% - 20px);
  float: left;
  margin-left: 10px;
  min-height: 200px;
  margin-bottom: 10px; }
.container article {
  padding: 10px; }

@media only screen and (min-width: 320px) {
  #section-1 .element {
    width: calc(100% - 20px);
    float: left;
    margin-left: 10px; } }
@media only screen and (min-width: 479px) {
  #section-1 .element {
    width: calc(50% - 15px);
    float: left;
    margin-left: 10px; }
    #section-1 .element::after {
      clear: both;
      content: "";
      display: block; } }
@media only screen and (min-width: 768px) {
  #section-1 .element {
    width: calc(33.33333% - 13.33333px);
    float: left;
    margin-left: 10px; } }
#section-1 #element-3 {
  width: calc(100% - 20px);
  float: left;
  margin-left: 10px; }
  @media only screen and (min-width: 768px) {
    #section-1 #element-3 {
      width: calc(33.33333% - 13.33333px);
      float: left;
      margin-left: 10px; } }

@media only screen and (min-width: 479px) {
  #section-2 .element {
    width: calc(50% - 15px);
    float: left;
    margin-left: 10px; } }

#section-3 {
  background-color: black; }

body {
  background-color: pink; }

#social-svg {
  clear: both;
  width: 175px; }
  #social-svg svg {
    fill: #000;
    width: 35px;
    height: 35px;
    background-color: #FFF;
    border-radius: 35px; }

#element-1 {
  background-color: red; }

#element-2 {
  background-color: orange;
  display: -ms-flexbox;
  display: flex;
  -moz-column-count: 2;
       column-count: 2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

#element-3 {
  background-color: green; }

#element-4 {
  background-color: blue; }

#element-5 {
  background-color: turquoise; }

#element-6 {
  background-color: purple; }
