// Bourbon and Neat import
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "grid-settings";

// Custom SASS imports
@import "partials/_base";
@import "partials/_typography";
@import "partials/_mixins";
@import "partials/_layout";
@import "modules/_common";
@import "partials/_mobile";
@import "vendor/_hamburgers";

body {
	background-color: pink;
}

// Temp. Elements
#element-1 {
	background-color: red;
}

#element-2 {
	background-color: orange;
}

#element-3 {
	background-color: green;
}

#element-4 {
	background-color: blue;
}

#element-5 {
	background-color: turquoise;
}

#element-6 {
	background-color: purple;
}