// Bourbon and Neat  2.1
// @import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
// @import "../../bower_components/neat/core/neat";

// Custom SASS imports
// Partials
@import "partials/_base";
@import "partials/_typography";
@import "partials/_nav";
@import "partials/_layout";

// Modules
@import "modules/_common";
@import "modules/_mixins";

// Vendor
@import "vendor/_hamburgers";
@import "vendor/_overlay";

body {
	background-color: pink;
}

// Social media icons in SVG
#social-svg {
	clear: both;
	width: 175px;

		svg {
			fill: #000;
			width: 35px;
			height: 35px;
			background-color: #FFF;
			border-radius: 35px;
		}
}

// Temp. Elements
#element-1 {
	// float: right;
	// position: relative; 
	background-color: red;
}

#element-2 {
	background-color: orange;
	// Testing autoprefixing with postcss in grunt
	display: flex;
	column-count: 2;
	appearance: none;	
}

#element-3 {
	background-color: green;
}

#element-4 {
	background-color: blue;
}

#element-5 {
	background-color: turquoise;
}

#element-6 {
	background-color: purple;
}

#element-7 {
	background-color: red;
}

#element-8 {
	background-color: orange;
}