// Bourbon and Neat  2.1
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/core/neat";

// Custom SASS imports
// Partials
.parallaxParent {
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.parallaxParent > .image {
	height: 200%;
	position: relative;
	top: -100%;
}

#parallax1 .image { background-image: url(../../assets/img/example_parallax_bg1.png);}
#parallax2 .image { background-image: url(../../assets/img/example_parallax_bg2.png);}
#parallax3 .image { background-image: url(../../assets/img/example_parallax_bg3.png);}
#parallax4 .image { background-image: url(../../assets/img/example_parallax_bg1.png);}
#parallax5 .image { background-image: url(../../assets/img/example_parallax_bg2.png);}
#parallax6 .image { background-image: url(../../assets/img/example_parallax_bg3.png);}

// #parallax4 {
// 	background: red;
// 	//top: 0!important;
// }

.content {
	position: absolute;
	width: 100%;
	height: 200px;
	text-align: center;
	color: black;
	z-index: 1;
}

.element {
	position: absolute;
	z-index: 0;	
	width: 350px;
	height: 200px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	color: white;
}

// Temp. Elements
#element-1,
#element-5 {
	background-color: blue;
	bottom: 35%;
}


#element-2 {
	background-color: orange;
	bottom: 35%;	
	left: 50%;	
	height: 300px;	
}

#element-3 {
	background-color: red;
	bottom: 35%;	
	left: 50%;
	height: 300px;		
	z-index: 1;
}

#element-4 {
	background-color: green;
	bottom: 35%;
	left: 50%;	
	height: 300px;		
}

#element-5 {
	z-index: 1;
	bottom: 0;
}

#element-6 {
	background-color: purple;
	height: 400px;
	bottom: 0;
	left: auto;
	right: 0;	
	transform: none;
	z-index: 1;
}

#element-7 {
	background-color: red;
	top: -50%;
	left: 50%;
	// opacity: 1;	
	z-index: 1;
}

#element-8 {
	background: orange;
	left: 25%;
	bottom: -50%;
	z-index: 1;	
}

#element-9 {
	background: orange;
	left: 75%;		
	bottom: -50%;
	z-index: 1;		
}

#element-10 {
	background: orange;
	left: 25%;	
	bottom: -50%;	
	z-index: 1;		
}





.spacer.s_viewport {
	min-width: 100%;
	min-height: 100%;
}

.spacer {
	text-align: center;
	min-height: 100px;
	background: #c7e1ff url("../img/example_bg_spacer_v.gif");
}


.spacer.s0 {
	min-height: 1px;
}
.spacer.s1 {
	min-height: 100px;
}
.spacer.s2 {
	min-height: 200px;
}
.spacer.s3 {
	min-height: 300px;
}
.spacer.s4 {
	min-height: 400px;
}
.spacer.s5 {
	min-height: 500px;
}
.spacer.s6 {
	min-height: 600px;
}
.spacer.s7 {
	min-height: 700px;
}
.spacer.s8 {
	min-height: 800px;
}
.spacer.s9 {
	min-height: 900px;
}
.spacer.s10 {
	min-height: 1000px;
}
.spacer.s_viewport {
	min-height: 100%;
}
.spacer.s_viewport {
	min-width: 100%;
}

.box1, .box2, .box3 {
	display: inline-block;
	position: relative;
	border-radius: 8px;
	border: 0px solid white;
	text-align: center;
	vertical-align: middle;
	padding: 0 5px;
}
.box1 {
	min-width: 100px;
	height: 100px;
	margin: 0 auto 0 auto;
}
.box2 {
	min-width: 50px;
	height: 50px;
	margin: 25px auto 25px auto;
}
.box3 {
	min-width: 26px;
	height: 26px;
	margin: 37px auto 37px auto;
}
.horizontal .box1 {
	top: 50%;
	max-height: 100px;
	margin: -50px 0 auto 0;
}
.horizontal .box2 {
	top: 50%;
	max-height: 50px;
	margin: -25px 25px auto 25px;
}
.horizontal .box3 {
	top: 50%;
	max-height: 26px;
	margin: -13px 37px auto 37px;
}
.box1 p, .box2 p, .box3 p {
	margin: 5px 15px 5px 15px;
	font-size: 13px;
	font-weight: lighter;
	color: black;
}
.box1 p:first-child {
	margin-top: 27px;
}
.box1 a, .box2 a, .box3 a {
	color: black;
}