// Bourbon and Neat  2.1
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/core/neat";
// Partials
@import "partials/_base";
@import "partials/_typography";

p a {
	display: inline-block;
}

.content {
	position: absolute;
	top: 2%;
	width: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 200px;
	text-align: center;
	z-index: 1;
		
		p {
			color: black;
		}
}

.element {
	box-sizing: border-box;
	position: absolute;
	z-index: 0;	
	width: 350px;
	min-height: 200px;
	padding: 10px;
	left: 50%;
	text-align: center;
	color: white;
}

#element-1 {
	background-color: blue;
	top: 35%;	
	left: 0%;	
	height: 300px;	
	width: 300px;
}

#element-2 {
	background-color: orange;
	top: 25%;	
	left: 0%;
	width: 300px;	
	height: 300px;		
	z-index: 1;
}

#element-3 {
	background-color: green;
	top: 15%;
	left: 0%;	
	width: 300px;	
	height: 300px;	
	z-index: 10;
}

#element-4 {
	background-color: red;
	top: 0%;
	left: 0%;	
	width: 300px;	
	height: 300px;	
	z-index: 10;
}

