// NEAT GRID LAYOUT FOR SECTIONS

//Grid visual
$neat-grid: (
  columns: 12,
  gutter: 10px,
  direction: ltr
);

$small-mobile: (
	media: 320px,
);

$mobile: (
	media: 479px,
);

$tablet: (
  	media: 768px,
);

$desktop: (
	media: 1024px,
);

$large-desktop: (
	media: "(max-width 1280px)"
);

.container {
	// @include grid-visual;
	// This is a clear
	@include grid-container;

	@include grid-media($mobile) {
		padding: 0 2%;
		transition:all .5s linear;
	}

	@include grid-media($tablet) {
		padding: 0 4%;
		transition:all .5s linear;
	}

	@include grid-media($desktop) {
		max-width: 1044px;
		margin: 0 auto;
		padding: 0;
	}
}

.full-container {
 	@include grid-collapse;
 	padding: 0;
 	
 		article {
 			min-height: 180px;
 		}
}

	.element {
		@include grid-column(12);
		min-height: 200px;
		margin-bottom: 10px;
	}

	article {
		padding: 10px;
	}

#section-1 {
	.element {
		@include grid-media($small-mobile) {
			@include grid-column(12);
		}

		@include grid-media($mobile) {
			@include grid-column(6);
			@include grid-container;
		}

		@include grid-media($tablet) {
			@include grid-column(4);
		}
	}

	#element-3 {
		@include grid-column(12);

		@include grid-media($tablet) {
			@include grid-column(4);
		}
	}
}

#section-2 {
	.element {
		@include grid-media($mobile) {
			@include grid-column(6);
		}
	}
}

#section-3 {
	background-color: black;
}

#section-4 {
	@include grid-media($mobile) {
		@include grid-collapse;
	}

	.element {
		@include grid-collapse;
		@include grid-column(12);

		@include grid-media($mobile) {
			@include grid-column(6);
		}

			.container {
				@include grid-column(12);

					@include grid-media($desktop) {
						@include grid-collapse;
					}

					article {
						@include grid-column(12);
						background: blue;
						margin-left: 0;

							@include grid-media($desktop) {
								float: right;
								width: 497px;
							}
					}
			}
	}
}
